body {
  background-color: black;
  color: white;
  height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color:#fff;
    
  }
 #heading h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
    display: flex;
    justify-content: center;
    padding: 30px;

}
#heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#heading button {
  display: block;
  width: 20%;
  border: solid;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  /* position: fixed; */
  /* margin-left: 290px;  */
   
}
.hide {
  display: none;
}

button {
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  
}
#questions-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: inline-block;
  margin-top: 100px;
}
#timer-count {
  margin-top: 100px;
  font-family: 'Times New Roman', Times, serif;

}